{
	"plugins": ["prettier-plugin-tailwindcss"],
	"semi": false,
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"printWidth": 80,
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": false
}
